body {
    background: #f5f5f5; 
}

/*body {
    background: #0099F7;  
    background: -webkit-linear-gradient(to right, #F11712, #0099F7);  
    background: linear-gradient(to right, #F11712, #0099F7); 

}*/