{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}
<form action="/add_estudiante" method="POST">
    <input type="text" name="nombre" placeholder="Ingresa tu nombre" required>
    <input type ="text" name="apellido" placeholder="Ingresa tu apellido" required>
    <input type="text" name="codigo_estudiante" placeholder="Ingresa tu codigo de estudiante" required>
    <input type="email" name="email" placeholder="Ingresa tu email" required>
    <input type="telefono" name="telefono" placeholder="Ingresa tu numero de telefono" required>
    <input type="int" name="estado_pagos" placeholder="Estado de pagos (1: Al día, 0: Pendiente)" required>
    <input type="int" name="habilitado_titulacion" placeholder="Habilitado para titulación (1: Habilitado, 0: No habilitado)" required>
    <button type="submit">
        Guardar
    </button>
</form>

<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Código Estudiante</td>
            <td>Email</td>
            <td>Teléfono</td>
            <td>Estado de Pagos</td>
            <td>Habilitado para Titulación</td>
        </tr>
    </thead>
    <tbody>
        {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.1 }}</td>
                <td>{{ estudiante.2 }}</td>
                <td>{{ estudiante.3 }}</td>
                <td>{{ estudiante.4 }}</td>
                <td>{{ estudiante.5 }}</td>
                <td>{{ estudiante.6 }}</td>
                <td>{{ estudiante.7 }}</td>
                <td>
                    <a href="/edit/{{estudiante.0}}">Editar</a>
                    <a href="/delete/{{estudiante.0}}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>












