{% whit messages = get_flashed_menssages() %}
 {% if messages %}
    {% for message in messages %}
        <p>{{ message}}</p>
    {% endfor %}
 {% endif %}
{% endwhit %}
<form action="/add_estudiante" method="POST">
    <input type="text" name="nombre" placeholder="Ingresa tu nombre" required>
    <input type ="text" name="apellido" placeholder="Ingresa tu apellido" required>
    <input type="text" name="codigo_estudiante" placeholder="Ingresa tu codigo de estudiante" required>
    <input type="email" name="email" placeholder="Ingresa tu email" required>
    <input type="telefono" name="telefono" placeholder="Ingresa tu numero de telefono" required>
    <input type="int" name="estado_pagos" placeholder="Estado de pagos (1: Al día, 0: Pendiente)" required>
    <input type="int" name="habilitado_titulacion" placeholder="Habilitado para titulación (1: Habilitado, 0: No habilitado)" required>
    <button type="submit">
        Guardar
    </button>
</form>













