{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-8 d-flex">
        <div class="flex-grow-1">
            {% for message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
                    {{ message[1] }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="card card-body">
                <h3 class="text-center mb-4">Iniciar Sesión</h3>
                <form action="/login" method="POST">
                    <div class="form-group mb-3">
                        <label for="username">Nombre de Usuario</label>
                        <input type="text" name="username" id="username" placeholder="Nombre de usuario" required class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Contraseña" required class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block w-100">Iniciar Sesión</button>
                    </div>
                </form>
                <p class="text-center mt-3">¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
            </div>
        </div>
        <div class="ms-3 d-flex align-items-center">
            <img src="/static/img/Donbosco.png" alt="Login Image" class="img-fluid" style="max-width: 40000px;">
        </div>
    </div>
</div>
{% endblock %}